* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--colors-background);
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: clamp(var(--fluid-type-min, 1rem),
      calc(1rem + var(--fluid-type-target, 2vw)),
      var(--fluid-type-max, 1.3rem));
}

span,
p,
a {
  font-size: clamp(var(--fluid-type-min, 0.7rem),
      calc(1rem + var(--fluid-type-target, 2vw)),
      var(--fluid-type-max, 1.1rem));
}

/* autocomplete */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--colors-primaryA) inset;
  -webkit-text-fill-color: var(--colors-primaryB);
}

@media screen and (max-width: 768px) {
  #background-image {
    width: 500px !important;
    height: 500px !important;
  }
}

@media screen and ((min-width: 800px) and (max-width: 1300px)) {
  #background-image {
    width: 1000px !important;
    height: 1000px !important;
  }
}